/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.formControl {
  margin-bottom: 1rem;
}

.formControl label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.formControl textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.formActions button {
  font: inherit;
  background: #3c0080;
  color: white;
  border: 1px solid #3c0080;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.formActions button:hover,
.formActions button:active {
  background: #5b149b;
  border-color: #5b149b;
}

