.translatorContainer {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.translatorContainer button {
  font: inherit;
  background: #006400;
  color: white;
  border: 1px solid #006400;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.translatorContainer button:hover,
.translatorContainer button:active {
  background: #007500;
  border-color: #007500;
}
