.personalizationContainer {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.personalizationContainer button {
  font: inherit;
  background: #800000;
  color: white;
  border: 1px solid #800000;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.personalizationContainer button:hover,
.personalizationContainer button:active {
  background: #9b1414;
  border-color: #9b1414;
}
